# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg
*.egg-info/
dist/
build/
*.log

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
TRANSECT_DATA_SUMMARY.xlsx
~$TRANSECT_DATA_SUMMARY.xlsx
richesse_specific_filtrée.csv
